{% extends "base.html" %}

{% block title %}Редактор профиля{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    <h1>Редактирование информации о себе</h1>
    <p>Используя форму ниже, вы можете изменить информацию о себе:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ base_user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
    {% else %}

    {% endif %}
{% endblock %}