{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block body %}
    <h1>Задайте новый пароль</h1>
    {% if validlink %}
        <p>Введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, она уже была использована. Пожалуйста, запросите пароль еще раз.</p>
    {% endif %}
{% endblock %}