{% extends 'base.html' %}

{% block title %}
  Изменить товар #{{ category.pk }}
{% endblock %}

{% block body %}
     {% if request.user.pk in product.user.pk or request.user.baseuser.moder or request.user.is_staff %}
  <h2>Изменить товар #{{ product.pk }} с именем <code>{{ product.name }}</code></h2>
  <form class="my-3" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input class="btn btn-primary" type="submit" value="Изменить">
  </form>
    {% else %}
    <h1>Вам сюда нельзя</h1>
    {% endif %}
  <div>
    <a class="btn btn-sm btn-info" href="{% url 'showcase_app:product' pk=product.pk %}">Назад к товару</a>
  </div>
{% endblock %}