{% extends 'base.html' %}

{% block title %}
  Товар #{{ product.pk }}
{% endblock %}

{% block body %}
    <h1>О товаре №{{ product.pk }}, создан пользователем  <a href="{% url "user_app:userprofile" pk=product.user.pk %}">{{ product.user.username }}</a> </h1>
  <h2><code>{{ product.name }}</code></h2>
  <h3>Описание:</h3>
  <p>{{ product.description }}</p>
  <h3>Создан:</h3>
  <p>{{ product.created_at }}</p>

    {% if product.images %}
        <h3>Фото:</h3>
    <div class="my-3 d-flex justify-content-left">
      <img src="{{ product.images.url }}" alt="connect"  style="max-height:300px;">
    </div>
    {% endif %}

    <h3>Обновлен:</h3>
  <p>{{ product.updated_at }}</p>

    <h3>Вопросы о товаре:</h3>
    <a class="text-decoration-none"
               href="{% url 'showcase_app:question-list' pk=product.pk %}"
        ><p>Все вопросы к товару</p></a>
    <h3>________</h3>
        {% for obj in question %}

            <a class="text-decoration-none"
               href="{% url 'showcase_app:question' pk=obj.pk %}"
        ><h4>{{ obj.header }}</h4></a>
            <h5>{{ obj.body }}</h5>
            Автор: <a href="{% url "user_app:userprofile" pk=obj.user.pk %}">{{ obj.user.username }}</a>,
            <p>Ответов: {{ obj.number_of_answers }},</p>
            Задан: {{ obj.created_at }}
          <h3>________</h3>
        {% endfor %}
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
            <button class="btn btn-info" type="submit">Отправить! </button>
        </div>
      </form>




  <p>{{ form.question }}</p>

  <div>
       {% if request.user.pk in product.user.pk or request.user.baseuser.moder or request.user.is_staff %}
    <a class="btn btn-success" href="{% url 'showcase_app:update-product' pk=product.pk %}">Редактировать</a>
    <a class="btn btn-warning" href="{% url 'showcase_app:delete-product' pk=product.pk %}">Архивировать</a>
      {% endif %}
    <ul>
      <li>
        <a href="{% url 'showcase_app:index' %}">Назад к витрине</a>
      </li>
    </ul>
  </div>

{% endblock %}