{% extends 'base.html' %}

{% block title %}
  Вопрос к Товару #{{ question.product_id }}
{% endblock %}

{% block body %}
  <h1>Вопрос к товару #{{ question.product_id }}, от пользователя <a href="{% url "user_app:userprofile" pk=question.user.pk %}">{{ question.user.username }}</a> </h1>
  <h2><code>{{ question.header }}</code></h2>
  <h3>Состав вопроса:</h3>
  <p>{{ question.body }}</p>
  <h3>Создан:</h3>
  <p>{{ question.created_at }}</p>

    <h3>Обновлен:</h3>
  <p>{{ question.updated_at }}</p>

    <h3>Ответы:</h3>
    <h3>________</h3>
        {% for obj in answer %}

            <h5>{{ obj.body }}</h5>
            <p>Ответ пользователя: <a href="{% url "user_app:userprofile" pk=obj.user.pk %}">{{ obj.user.username }}</a></p>
              {% if request.user.pk in product.user.pk or request.user.baseuser.moder or request.user.is_staff %}
            <a class="btn btn-warning" href="{% url 'showcase_app:delete-answer' pk=obj.pk %}">Архивировать</a>
              {% enif %}
            {{ obj.created_at }}
          <h3>________</h3>
        {% endfor %}
      <form method="POST">
        {% csrf_token %}

        {% if user.is_authenticated %}
        <div class="form-group">
            {{ form }}
            <button class="btn btn-info" type="submit">Отправить! </button>
            {% else %}
      <a
        class="btn btn-outline-primary"
        href="{% url 'login' %}">
        Login
      </a>
    {% endif %}
        </div>
      </form>




  <p>{{ form.question }}</p>
  <div>
    {% if request.user.pk in question.user.pk or request.user.baseuser.moder or request.user.is_staff %}
      <a class="btn btn-warning" href="{% url 'showcase_app:delete-question' pk=question.pk %}">Архивировать</a>
    {% endif %}
      <ul>
        <li>
          <a href="{% url 'showcase_app:product' pk=question.product_id %}">Назад к товару</a>
      </li>
      <li>
        <a href="{% url 'showcase_app:index' %}">Назад к витрине</a>
      </li>

    </ul>
  </div>
{% endblock %}